:root{

    /* =============== COLORS =============== */
    --dark-background-color: #1f2937;
    --button-color: #3882f6;
    --quote-background-color: #e5e7eb;
    --white-font-color: #f9faf8;
}

/* =============== FONT =============== */
*{
    font-family: 'Poppins', sans-serif;
}