:root{

    /* =============== COLORS =============== */
    --dark-background-color: #1f2937;
    --button-color: #3882f6;
    --quote-background-color: #e5e7eb;
    --white-font-color: #f9faf8;
}

/* =============== FONT =============== */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}


header{
    background-color: rgb(177, 177, 177);
    color: black;
    height: 200px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-img{
    width:300px;
    height:100px;
    background: gray;
}

.nav-line{
    display:flex;
    justify-content: space-between;
}

.header-links{
    display:flex;
}

.header-introduction{
    display: flex;
    justify-content: space-between;
    border: solid 1px blue;

}

.header-main{
    border: 2px solid greenyellow;
    width: 500px;
}

.header-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 2px red;
    flex: 1 1 200px;
    flex-wrap: wrap;
    padding: 20px 100px 10px 100px;
}